mixin connection()
  .connection
    a(href="tel:+79272437133").connection__link
      .connection__icon
        img(src="images/connection-phone.svg" loading="lazy" alt="phone" width="24" height="24").d-block
      .connection__num +7 (927) 243-71-33
      a(data-remodal-target="modal-form-call").connection__description Заказать звонок
