section.thanks-section
  .wrapper
    .thanks-section__inner

      h1.thanks-section__title
        |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
        br
        |ВАШЕЙ ЗАЯВКОЙ

      .thanks-section__title-helper
        |Мы свяжемся с&nbsp;Вами 
        br
        |в&nbsp;ближайшее время

      .thanks-section__btn
        a(href="index.html").btn
          span Вернуться на главную
